@model ArktinMonitor.Data.Models.Computer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Computer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WebAccount.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebAccount.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gpu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gpu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperatingSystem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperatingSystem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MacAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MacAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ComputerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
