@using Newtonsoft.Json
@model ArktinMonitor.Data.Models.ComputerViewModel
@{
    ViewBag.Title = "My computers";
}

<h2 id="details-header">Details</h2>

<div class="row">
    <div class="col-md-4">

        <div id="computer-details" class="card-dark" data-id="@Model.ComputerId">
            <h3 class="arktinHeader">
                @Model.Name&nbsp;
                <svg style="width:20px;height:20px" viewBox="0 0 20 20">
                    <path id="connection-icon" fill="#FFFFFF" d="M20,4H14V10L16.24,7.76C17.32,8.85 18,10.34 18,12C18,13 17.75,13.94 17.32,14.77L18.78,16.23C19.55,15 20,13.56 20,12C20,9.79 19.09,7.8 17.64,6.36L20,4M2.86,5.41L5.22,7.77C4.45,9 4,10.44 4,12C4,14.21 4.91,16.2 6.36,17.64L4,20H10V14L7.76,16.24C6.68,15.15 6,13.66 6,12C6,11 6.25,10.06 6.68,9.23L14.76,17.31C14.5,17.44 14.26,17.56 14,17.65V19.74C14.79,19.53 15.54,19.2 16.22,18.78L18.58,21.14L19.85,19.87L4.14,4.14L2.86,5.41M10,6.35V4.26C9.2,4.47 8.45,4.8 7.77,5.22L9.23,6.68C9.5,6.56 9.73,6.44 10,6.35Z" />
                </svg>
            </h3>
            <p>@Model.OperatingSystem</p>
            <p>@Model.Cpu</p>
            <p>@Model.Ram GB</p>
            <p>@Model.Gpu</p>
            <p>@Model.MacAddress</p>
        </div>
    </div>
    <div class="col-md-4">
        <div id="users" class="card-dark">
            <h4 class="arktinHeader">@Html.ActionLink("Users", "Users", "Users")</h4>
            @foreach (var user in Model.ComputerUsers)
            {
                <div class="user" id="user-@user.Name.ToLower()">
                    <p class="username-over-progress" data-toggle="tooltip" title="No data">@user.FullName</p>
                    <div class="my-progress">
                        <div class="progress-active" style="width: 0%; background: orange" data-toggle="tooltip" title="fuck"></div>
                        <div class="progress-idle" style="width: 0%; background: coral" data-toggle="tooltip" title="fuck"></div>
                        <div class="progress-background" style="width: 100%; background: #393939"></div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-4">

        <div id="disks" class="card-dark">
            <h4 class="arktinHeader">Disks</h4>
            @foreach (var disk in Model.Disks)
            {
                <p>
                    @disk.Name (@disk.Letter.Replace("\\", ""))
                    @disk.FreeSpaceInGigaBytes.ToString("0.00") GB free of @disk.TotalSpaceInGigaBytes.ToString("0") GB
                </p>
            }
        </div>
    </div>
    <div class="col-md-4">
        <div id="div-power-options" class="card-dark">
            <h4 class="arktinHeader">Power actions</h4>
            <div>
                <a href="#" id="lock-button">Lock</a> |

                <a href="#" id="logoff-button">Log off</a>
            </div>
            <div>
                <a href="#" id="shutdown-button">Shutdown</a> |

                <a href="#" id="restart-button">Restart</a> |

                <a href="#" id="hibernate-button">Hibernate</a> |

                <a href="#" id="sleep-button">Sleep</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div id="div-tts" class="card-dark">
            <h4 class="arktinHeader" id="language">Messaging</h4>
            <input type="text" class="form-control message" placeholder="Send TTS message" id="tts-message">
            <input type="text" class="form-control message" placeholder="Send text message" id="txt-message">
        </div>
    </div>
    <div class="col-md-4">
        <div class="card-dark">
            <h4 class="arktinHeader">Log</h4>
            <a id="clear-log" href="#">Clear</a>
            <textarea style="height: 105px" class="form-control" id="log-textarea" readonly placeholder="Nothing here yet..."></textarea>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card-dark">
            <h4 class="arktinHeader">Processes</h4>
            <a id="refresh-processes" href="#">Refresh</a>
            <div id="div-processes">
                <table style="width: 100%" id="table-processes" class="table table-striped table-hover">
                    <tr id="tableHeader">
                        @*<th>
                            Name
                        </th>*@
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <div class="col-md-12">
        <div class="card-dark">
            <div>
                <h4 class="arktinHeader" data-toggle="tooltip" title="Each bar represents time spent by users, semi-transparent bars mean that user was not active (didn't use a mouse or keyboard)">Usage of the computer by users</h4>
            </div>
            <div id="div-graph">
                <canvas id="graph" width="0" height="0"
                        style="border: 1px solid gray; border: 1px solid rgba(255, 255, 255, 0.3)">
                    Your browser does not support the HTML5 canvas tag.
                </canvas>
            </div>
        </div>
    </div>

    <div class="modal fade" id="process-modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="modal-process-title" class="modal-title">Process name</h4>
                </div>
                <div class="modal-body">
                    @*<p id="modal-process-description">Description</p>*@
                    <p id="modal-process-path">Path: </p>
                    <p id="modal-process-legal">Legal copyright: </p>
                    <p id="modal-process-pid">PID: </p>
                    <p id="modal-process-session">Session ID: </p>
                    @*<p id="modal-process-window-title">Title: </p>*@
                </div>
                <div class="modal-footer">
                    <button id="modal-process-kill-button" type="button" class="btn btn-danger" data-dismiss="modal">Kill</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">
        var logs = @Html.Raw(JsonConvert.SerializeObject(Model.LogTimeIntervals, Formatting.Indented,
                       new JsonSerializerSettings{DateFormatHandling = DateFormatHandling.IsoDateFormat}));
    </script>
</div>
@section scripts {
    <script src="/Scripts/arktin/graph.js" type="text/javascript"></script>
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script>


        $(function () {
            var hubConnection = $.connection.myComputerHub;
            hubConnection.client.pong = function (id) {
                if (id == $("#computer-details").attr("data-id")) {
                    $("#connection-icon").attr("d",
                        "M12,18A6,6 0 0,1 6,12C6,11 6.25,10.03 6.7,9.2L5.24,7.74C4.46,8.97 4,10.43 4,12A8,8 0 0,0 12,20V23L16,19L12,15M12,4V1L8,5L12,9V6A6,6 0 0,1 18,12C18,13 17.75,13.97 17.3,14.8L18.76,16.26C19.54,15.03 20,13.57 20,12A8,8 0 0,0 12,4Z");
                    hubConnection.server.requestProcesses($("#computer-details").attr("data-id"));
                }
            };
            hubConnection.client.logOnPage = function (text) {
                $("#log-textarea").val(function (i, oldText) {
                    return text + "\n" + oldText;
                });
            };
            hubConnection.client.displayProcesses = function (processes) {
                $("#table-processes").data(processes);
                processes.forEach(function (process) {
                    var className = process.Session === 0 ? " class='system-process'" : "";
                    $("#table-processes tr:last")
                        .after('<tr' + className + '><td data-pid=' + process.ProcessId + ' type="button" data-toggle="modal" data-target="#process-modal">' +
                            process.Name +
                            '</td></tr>');
                });

                $('#process-modal').on('show.bs.modal', function (e) {
                    console.log("showing modal");

                    //get data-id attribute of the clicked element
                    var processId = $(e.relatedTarget).attr("data-pid");
                    var process = Object.values($("#table-processes").data()).find(p => p.ProcessId == processId);
                    $(e.currentTarget).find('#modal-process-pid').text("PID: " + processId);
                    $(e.currentTarget).find('#modal-process-title').text(process.Name);
                    $(e.currentTarget).find('#modal-process-path').text("Path: " + process.Path);
                    $(e.currentTarget).find('#modal-process-session').text("Session ID: " + process.Session);
                    hubConnection.server.fart($("#computer-details").attr("data-id"), "process", processId);
                    $("#modal-process-kill-button").off();
                    $("#modal-process-kill-button").click(function (e) {
                        hubConnection.server.fart($("#computer-details").attr("data-id"), "kill", processId);
                        return false;
                    });
                });
            };
            hubConnection.client.updateProcessDetails = function (processDetails) {
                //$("#modal-process-window-title").text("Window title: " + processDetails.WindowTitle);
                $("#modal-process-legal").text("Legal copyright: " + processDetails.LegalCopyright);
            };
            // Start the connection.
            $.connection.hub.start().done(function () {
                hubConnection.server.joinToGroup($("#computer-details").attr("data-id"));
                $("#computer-details").click(checkSignalrConnection());

                $("#tts-message").keypress(function (e) {
                    if (e.which == 13) {
                        var lang = $("body").data("language");
                        hubConnection.server.fart($("#computer-details").attr("data-id"), "speak", $("#tts-message").val());
                        return false;    //<---- Add this line
                    }
                });
                $("#txt-message").keypress(function (e) {
                    if (e.which == 13) {
                        hubConnection.server.fart($("#computer-details").attr("data-id"), "text", $("#txt-message").val());
                        return false;    //<---- Add this line
                    }
                });
                $("#shutdown-button").click(function (e) {
                    if (confirm("Do you really want to shutdown your pc?"))
                        hubConnection.server.powerAction($("#computer-details").attr("data-id"), "shutdown", 1);
                    return false;
                });
                $("#restart-button").click(function (e) {
                    if (confirm("Do you really want to restart your pc?"))
                        hubConnection.server.powerAction($("#computer-details").attr("data-id"), "restart", 1);
                    return false;
                });
                $("#lock-button").click(function (e) {
                    if (confirm("Do you really want to lock your pc?"))
                        hubConnection.server.powerAction($("#computer-details").attr("data-id"), "lock", 1);
                    return false;
                });
                $("#logoff-button").click(function (e) {
                    if (confirm("Do you really want to log off current user from your pc?"))
                        hubConnection.server.powerAction($("#computer-details").attr("data-id"), "logoff", 1);
                    return false;
                });
                $("#hibernate-button").click(function (e) {
                    if (confirm("Do you really want to hibernate your pc?"))
                        hubConnection.server.powerAction($("#computer-details").attr("data-id"), "hibernate", 1);
                    return false;
                });
                $("#sleep-button").click(function (e) {
                    if (confirm("Do you really want to put your pc to sleep mode?"))
                        hubConnection.server.powerAction($("#computer-details").attr("data-id"), "sleep", 1);
                    return false;
                });
                $("#language").click(function () {
                    hubConnection.server.fart($("#computer-details").attr("data-id"), $("#tts-message").val(), $("#txt-message").val());
                });
                $("#refresh-processes").click(function () {
                    $("#table-processes").find('tr').slice(1).remove()
                    hubConnection.server.requestProcesses($("#computer-details").attr("data-id"));
                });

                function checkSignalrConnection() {
                    // Call the Send method on the hub.
                    console.log("checking connection");
                    $("#connection-icon").attr("d",
                        "M20,4H14V10L16.24,7.76C17.32,8.85 18,10.34 18,12C18,13 17.75,13.94 17.32,14.77L18.78,16.23C19.55,15 20,13.56 20,12C20,9.79 19.09,7.8 17.64,6.36L20,4M2.86,5.41L5.22,7.77C4.45,9 4,10.44 4,12C4,14.21 4.91,16.2 6.36,17.64L4,20H10V14L7.76,16.24C6.68,15.15 6,13.66 6,12C6,11 6.25,10.06 6.68,9.23L14.76,17.31C14.5,17.44 14.26,17.56 14,17.65V19.74C14.79,19.53 15.54,19.2 16.22,18.78L18.58,21.14L19.85,19.87L4.14,4.14L2.86,5.41M10,6.35V4.26C9.2,4.47 8.45,4.8 7.77,5.22L9.23,6.68C9.5,6.56 9.73,6.44 10,6.35Z");
                    hubConnection.server.ping($("#computer-details").attr("data-id"));
                }
                $("#computer-details").click(function (e) {
                    checkSignalrConnection();
                });
                //hubConnection.server.requestProcesses($("#computer-details").attr("data-id"));
            });
        });

        function updateToolTips() {
            $('[data-toggle="tooltip"]').tooltip();
        }

        $("#clear-log").click(function () { $("#log-textarea").val("") });

    </script>
}