@model ArktinMonitor.Data.Models.ComputerUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ComputerUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Computer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Computer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Removed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Removed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrivilegeLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrivilegeLevel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ComputerUserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
